package web

templ InDevelopment() {
	<div id="content" class="flex-grow p-8 overflow-y-auto h-screen">
		<header class="flex justify-between items-center mb-6">
			<h1 class="text-2xl font-semibold">Nothing to do here</h1>
		</header>
		<p class="text-gray-600">This feature is in development</p>
	</div>
}
